/* Write your styles */

.am-header-default {
    background-color: #343434;
}

.am-navbar-default .am-navbar-nav {
    background-color: #343434;
}

body {
    background: #3d3d3d;
    color: #969696;
}

.am-list-news-default .am-list-date {
    color: #e2e2e2;
}

.am-navbar-nav a .am-navbar-label {
    display: block;
    font-size: 10px;
    line-height: 1;
    overflow: hidden;
    padding-top: 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

a {
    color: #fff;
}

.am-list-news-default .am-list > li {
    border-color: #444444;
    background: #3d3d3d;
    font-size: 14px;
    color: #969696;
}

.am-list-news-hd a {
    color: #dadada;
}

.am-list-news-more {
    color: #969696;
}

.am-list .am-list-item-dated a {
    color: #bcbcbc;
}
/*pos 123*/

.am-list-date-2 {
    font-size: 1.3rem;
    position: absolute;
    right: 4px;
    top: 1.1rem;
    border-radius: 4px;
}

.am-list-date-1 {
    font-size: 1.3rem;
    position: absolute;
    right: 42px;
    top: 1.1rem;
    border-radius: 4px;
}

.am-list-date-3 {
    font-size: 1.3rem;
    position: absolute;
    right: 80px;
    top: 1.1rem;
    border-radius: 4px;
}

.am-list-date-value {
    font-size: 1.3rem;
    position: absolute;
    right: 118px;
    top: 1.1rem;
    border-radius: 4px;
    width: 110px;
}

.am-list-date-value-1 {
    font-size: 1.3rem;
    position: absolute;
    right: 88px;
    top: 1.1rem;
    border-radius: 4px;
    width: 140px;
}

.am-list-date-value-2 {
    font-size: 1.3rem;
    position: absolute;
    right: 7px;
    top: 1.1rem;
    border-radius: 4px;
    width: 220px;
}

.am-list-date-value-double {
    font-size: 1.3rem;
    position: absolute;
    right: 7px;
    top: 0.6rem;
    border-radius: 4px;
    width: 220px;
    /*hight: 15px;*/
    height: 15px;
    line-height: 15px;
}

.am-list-date-user {
    font-size: 1.3rem;
    position: absolute;
    left: 80px;
    top: 2rem;
    border-radius: 4px;
    width: 220px;
    /*hight: 20px;*/
    height: 20px;
    line-height: 20px;
}

#c-red {
    color: #e74c3c;
}

#c-green {
    color: #27ae60;
}

#c-orange {
    color: #e67e22;
}

#c-grap {
    color: #999;
}

#c-black {
    color: #666666;
}

#c-date {
    font-size: 1rem;
    color: #666666;
}

#c-tip {
    font-size: 1rem;
}

#c-menu {
    font-size: 1.2rem;
}
/*pos 1234*/
.am-list-date-4 {
    font-size: 1.3rem;
    position: absolute;
    right: 174px;
    top: 1.1rem;
    border-radius: 4px;
}

.am-list-date-5 {
    font-size: 1.3rem;
    position: absolute;
    right: 135px;
    top: 1.1rem;
    border-radius: 4px;
}

.am-list-date-6 {
    font-size: 1.3rem;
    position: absolute;
    right: 70px;
    top: 1.1rem;
    border-radius: 4px;
}

.am-list-date-7 {
    font-size: 1.3rem;
    position: absolute;
    right: 5px;
    top: 1.1rem;
    border-radius: 4px;
}
/*color*/
.bg-green {
    background: #27ae60;
    padding: 0 4px;
    color: #e2e2e2;
}

.bg-red {
    background: #e74c3c;
    padding: 0 4px;
    color: #FFF;
    line-height: 20px;
}

.bg-orange {
    background: #e67e22;
    padding: 0 4px;
    color: #e2e2e2;
}

.bg-grap {
    background: #666666;
    padding: 0 4px;
    color: #e2e2e2;
}

.am-navbar-default a {
    color: #969696;
}

.am-navbar-default .active {
    color: #fff;
}

    .am-navbar-default .active a {
        color: #fff;
    }

.am-text-center {
    line-height: 15px;
}

small {
    font-size: 70%;
}

.nobold {
    font-weight: 600;
    font-size: 1.1rem;
    color: #969696;
}

.color-red {
    color: #e74c3c;
}

.color-green {
    color: #27ae60;
}

.color-orange {
    color: #e67e22;
}

/*web*/
body {
    font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}

.bs-example:after {
    content: "实例：" !important;
}

.bs-docs-section > p, .bs-docs-section > ul,
.bs-docs-section > ol, .bs-callout > p,
.bs-callout > ol, .bs-callout > ul {
    font-size: 16px;
    line-height: 1.75;
    margin-bottom: 1em;
}

.bs-callout *:last-child {
    margin-bottom: 0;
}

.menu_mgr {
    margin-left: -15px;
}

.menu_font {
    font-size: 1.3rem;
}

#round {
    padding: 0px;
    width: 60px;
    height: 60px;
    /*border:2px solid #555;*/
    -moz-border-radius: 7px; /* Gecko browsers */
    -webkit-border-radius: 7px; /* Webkit browsers */
    border-radius: 7px; /* W3C syntax */
}



/*add by lixin*/
/*login page*/
.btn-bg-transparent {
    width: 49%;
    border: none;
    background-color: transparent;
    color: white;
    margin: 0 0 15px 0;
    font-weight: bold;
}

.login-bg {
    background: url(../../../images/webapp/login_bg.png) no-repeat;
    background-size: cover;
}

#account-container .am-form-group > label {
    padding-right: 0;
}

.mg-left-0 {
    margin-left: 0;
}

.pd-left-5 {
    padding-left: 5px;
}

.mg-top-70 {
    margin-top: 70px;
}

.mg-top-40 {
    margin-top: 40px;
}

.forgetpd {
    position: absolute;
    margin-top: 10px;
    color: #0e90d2;
    right: 12px;
    font-size: 1rem;
}

.mg-bottom-0 {
    margin-bottom: 0;
}

.mg-right-12 {
    margin-right: 12px;
}

.pa {
    position: absolute;
}

.pd-top-0-3em {
    padding-top: 0.3em !important;
}

.pd-left-60 {
    padding-left: 60px !important;
}

.blue-btn {
    background-color: #0e90d2 !important;
    color: white;
}

#account-container label {
    font-weight: 500 !important;
    font-size: 1.5rem;
    color: black !important;
}

#account-container input {
    font-size: 1.4rem;
}

#triangle {
    position: absolute;
    left: 0px;
    top: 3px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid silver;
    z-index: 999;
}

#triangle-inner {
    position: absolute;
    left: 2px;
    top: 5px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid white;
    z-index: 1000;
}

.register-triangle-group {
    top: -8px;
    left: 70px;
}
.login-triangle-group{
    top: -8px;
    left:235px
}
/*retrievepassword page*/
.mg-top-25 {
    margin-top: 25px;
}

.pd-left-78 {
    padding-left: 78px !important;
}

.inner-label {
    position: absolute;
    margin: 6px 12px;
    color: black;
}

.yanzheng-btn {
    position: absolute;
    right: 0;
    top: 0;
    height: 32px;
    font-size: 1rem;
}
/*.yanzheng-btn is used in login and retrievepassword*/
.pr {
    position: relative;
}
/*.pr is used in login and retrievepassword*/
.disabled-input {
    background-color: white !important;
    color: black !important;
}

.pd-right-81 {
    padding-right: 81px !important;
}
#retrievepd-container label {
    font-weight: 500 !important;
    font-size: 1.5rem;
    color: black !important;
}

#retrievepd-container input {
    font-size: 1.4rem;
}
/*usercenter page*/
.fs-1 {
    font-size: 1rem;
}

.fs-1-5 {
    font-size: 1.5rem !important;
}
/* used in login page and usercenter page*/

.fs-2 {
    font-size: 2rem;
}

.top-0-5 {
    top: 0.5rem;
}

.top-2-5 {
    top: 2.5rem;
}

.touxiang-li {
    margin-top: -10px;
    border-top: none;
}

.mg-left-15 {
    margin-left: 15px;
}
