.zline {
    height: 140px;
    margin-top: -15px;
    padding: 0 10px;
    width: 100%;
}

.am-tabs-bd {
    border: none;
}

.am-nav-tabs > li > a {
    color: #aaa;
}

.am-nav-tabs > li.am-active > a, .am-nav-tabs > li.am-active > a:focus, .am-nav-tabs > li.am-active > a:hover {
    background: none;
    border: none;
    color: #fff;
    margin-top: 1px;
    margin-left: 1px;
    font-weight: bold;
}

.am-tabs-nav > li {
    background: none;
    text-align: center;
}

    .am-tabs-nav > li > a {
        position: relative;
        top: -8px;
    }

.am-nav-tabs {
    border: none;
}

.am-list > li {
    background: none;
    border-color: #444;
}

.arrowLeft {
    font-size: 1.7rem;
    color: #999;
    position: relative;
    top: -1px;
}

.titleStyle {
    font-size: 1.8rem;
    border-left: 1px solid #444;
    padding-left: 15px;
    margin-left: 3px;
}

.titleCount {
    font-size: 1.2rem;
    padding-left: 7px;
    color: #999;
}

.mg-t {
    margin-top: -2px;
}

.mg-top {
    margin-top: -15px;
}

.aHeight {
    height: 45px;
}

.plateNameSpan {
    position: relative;
    top: -6px;
}

.noteStyle {
    font-size: 11px;
    position: relative;
    top: -11px;
    color: #777;
}

.color666 {
    color: #666;
}

.coloraaa {
    color: #aaa !important;
}
