.zline {
    height: 180px;
    margin-top: -15px;
    padding: 0 10px;
    width: 100%;
}

.am-tabs-bd {
    border: none;
}

.am-nav-tabs > li > a {
    color: #aaa;
}

.am-nav-tabs > li.am-active > a, .am-nav-tabs > li.am-active > a:focus, .am-nav-tabs > li.am-active > a:hover {
    background: none;
    border: none;
    color: #fff;
    margin-top: 1px;
    margin-left: 1px;
    font-weight: bold;
}

.am-tabs-nav > li {
    background: none;
    text-align: center;
}

    .am-tabs-nav > li > a {
        position: relative;
        top: -8px;
    }

.am-nav-tabs {
    border: none;
}

.am-list > li {
    background: none;
    border:0 none;
    border-bottom:1px solid #444;
}

.arrowLeft {
    font-size: 1.7rem !important;
    color: #999;
    position: relative;
    top: -1px;
}

.headerSpan {
    font-size: 1.8rem;
    border-left: 1px solid #444;
    padding-left: 15px;
    margin-left: 3px;
}

.mg-t {
    margin-top: -2px;
}

.tab1Style {
    border-right: 1px solid #555;
    height: 25px !important;
}

.tab2Style {
    height: 25px !important;
}

.aHeight {
    height: 45px;
}

.stockNameStyle {
    position: relative;
    top: -6px;
}

.codeStyle {
    font-size: 11px;
    position: relative;
    top: -11px;
    color: #777;
}

.color666 {
    color: #666 !important;
}

.coloraaa {
    color: #aaa !important;
}
.am-tabs-bd .am-tab-panel {
    padding: 0 10px 15px;
}
#c-date {
    font-size: 1rem;
    color: #666666;
    top:-15px;
    position: relative;
}
.am-list-date-value-double {
    font-size: 1.3rem;
    position: absolute;
    right: -20px;
    top: 0.8rem;
    border-radius: 4px;
    width: 220px;
    height: 15px;
    line-height: 15px;
}