.am-tabs {
    margin-top: -10px;
}

.am-tabs-bd {
    border: none;
}

.am-nav-tabs > li > a {
    color: #aaa;
    background: #444;
    margin: 0px;
}

.am-nav-tabs > li.am-active > a, .am-nav-tabs > li.am-active > a:focus, .am-nav-tabs > li.am-active > a:hover {
    background: none;
    border: none;
    color: #fff;
    font-weight: bold;
}

.am-tabs-nav > li {
    background: none;
    text-align: center;
}

    .am-tabs-nav > li > a {
        position: relative;
    }

.am-nav-tabs {
    border: none;
}

.am-list > li {
    background: none;
    border-color: #444;
}

.am-nav > li > a:focus, .am-nav > li > a:hover {
    background: none;
    border: none;
}

.am-tabs > ul > li > a {
    height: 60px;
    border-bottom: 1px solid #444;
}

.am-form input[type="text"], .am-form input[type="email"], .am-form input[type="password"], .am-form input[type="number"] {
    color: #fff;
    background: none;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #444;
    height: 45px;
}

    .am-form input[type='text']:focus, .am-form input[type='email']:focus, .am-form input[type='password']:focus, .am-form input[type='number']:focus {
        color: #fff;
        background: none;
        border: none;
        box-shadow: none;
        border-bottom: 1px solid #444;
    }

.am-btn-default:focus, .am-btn-default:active {
    box-shadow: none;
}

.am-form input[type='button']:focus {
    box-shadow: none;
}

.am-form input[type='button']:hover {
    box-shadow: none;
}

.am-tabs-bd .am-tab-panel {
    padding: 10px 0;
}

.am-table > thead > tr > th {
    border-bottom: 0 none;
    vertical-align: bottom;
    font-weight: normal;
}

.am-table > tbody > tr > td, .am-table > tbody > tr > th, .am-table > tfoot > tr > td, .am-table > tfoot > tr > th, .am-table > thead > tr > td, .am-table > thead > tr > th {
    border-top: 1px solid #444;
    line-height: 1.6;
    padding: 0.7rem;
    vertical-align: top;
}

.am-tab-panel input[type="text"] {
    color: #fff;
    background: none;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #444;
    height: 45px;
}

    .am-tab-panel input[type='text']:focus {
        color: #fff;
        background: none;
        border: none;
        box-shadow: none;
        border-bottom: 1px solid #444;
    }

.am-datepicker {
    box-shadow: none;
}

.am-tab-panel input[type="text"] {
    color: #fff;
    background: none;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #444;
    height: 45px;
}

    .am-tab-panel input[type='text']:focus {
        color: #fff;
        background: none;
        border: none;
        box-shadow: none;
        border-bottom: 1px solid #444;
    }

.am-datepicker {
    box-shadow: none;
}

.zline {
    height: 180px;
    margin-top: -10px;
    padding: 0 10px;
    width: 100%;
}

.autocomplete-suggestions {
    padding: 7px 10px 10px 10px;
    border: 0 none;/*1px solid #999;*/
    background: #333;
    cursor: default;
    overflow: hidden;
    -webkit-box-shadow: 0 0 3px rgba(50, 50, 50, 0.64);
    -moz-box-shadow: 0 0 3px rgba(50, 50, 50, 0.64);
    box-shadow: 0 0 3px rgba(50, 50, 50, 0.64);
    border-radius: 5px;
    width: 65% !important;
    height: 217px !important;
    opacity: 0.95;
    line-height: 30px;
    margin-top:-1px; 
}

.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-no-suggestion {
    padding: 2px 5px;
}

.autocomplete-selected {
    background: #F0F0F0;
}

.autocomplete-suggestions strong {
    font-weight: normal;
    color: #3399FF;
}

.am-tab-panel {
    padding-top: 0 !important;
    margin-top: 10px;
}

.am-tabs-bd .am-tab-panel {
    -webkit-transition: -webkit-transform 0.0001s;
    transition: transform 0.0001s;
}

.am-tabs {
    overflow: hidden !important; /*父元素高度自适应*/
}

.loadspan {
    position: absolute;
    left: 50%;
    margin-left: -5px;
    margin-top: -10px;
}

.nomore {
    display: none;
    position: absolute;
    left: 50%;
    margin-left: -66px;
    margin-top: -10px;
    font-size: 12px;
}

.preloader {
    position: absolute;
    left: 0;
    top: -100px;
    z-index: 0;
    color: #fff;
    text-align: center;
    line-height: 100px;
    height: 100px;
    width: 100%;
    opacity: 0;
    font-size: 25px;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
    background: rgba(0,0,0,0.1);
}

    .preloader.visible {
        top: 0;
        opacity: 1;
    }

.swiper-container {
    width: 100%;
    /*height: 100%;*/
    /*color: #fff;*/
    text-align: center;
    position: relative;
    z-index: 10;
    /*overflow: hidden;*/
}

.swiper-slide {
    width: 100%;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

.swiper-slide-visible {
    opacity: 1;
}

.am-modal-dialog{
    border: 0 none;
    background: #333;
    cursor: default;
    -webkit-box-shadow: 0 0 3px rgba(50, 50, 50, 0.64);
    -moz-box-shadow: 0 0 3px rgba(50, 50, 50, 0.64);
    box-shadow: 0 0 3px rgba(50, 50, 50, 0.64);
    border-radius: 5px;
    opacity: 0.95; 
}
.am-modal-hd{
    border-radius: 5px;
    color:#fff;
}
.am-modal-no-btn .am-modal-dialog {
    border-radius: 5px;
}
.am-modal-btn{
    color:#fff;
    border-right: 1px solid #444;
}
.am-modal-bd {
    border-bottom: 1px solid #444;
    color:999;
}
.am-list>li{
    text-align:left;
    padding-left:30px;
    border: 0 none;
}
.am-modal-bd > p{padding:0;margin:0;}
   ul,li{margin:0;padding:0} 
    #scrollDiv{height:25px;line-height:25px;overflow:hidden;} 
    #scrollDiv li{padding-left:10px;margin-top:-5px;} 
    .am-btn-primary,.am-btn-primary:focus,.am-btn-primary:hover,.am-btn-primary:active{background: none;border:0 none;color: #fff;}
    .am-active .am-btn-primary.am-dropdown-toggle, .am-btn-primary.am-active, .am-btn-primary:active{background: none;}
    .mdl {display: block;margin: 0 33%;overflow-wrap: normal;text-align: center;white-space: nowrap;position: relative;}
    .mdl1 {margin: 0 33%;overflow-wrap: normal;text-align: center;white-space: nowrap;}
    .am-dropdown-content {background-color: #444;border: 1px solid #444;border-radius: 5px;box-shadow: 0px 0px 3px #333;opacity: 0.9;}
    .am-dropdown-content::after,.am-dropdown-content::before {border-bottom-color: #444;bottom: -1px;top: -7px;}
    ul.am-dropdown-content > li a:focus, ul.am-dropdown-content > li a:hover{background: #333} 
    .wrap{font-size: 12px;}
    .progressbar_1{background-color:#666;height:18px;width:70%;border:1px solid #666;color:#222;border-radius:15px;} 
    .progressbar_1 .bar {background-color:#444;height:16px;width:0;border-radius:15px;line-height:17px;background-image: -moz-linear-gradient(top, #555, #444);     background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #555), color-stop(1, #444));filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#555', endColorstr='#444', GradientType='0');}    
    .am-slider-a1 {box-shadow: none;}  
    
    .slider-a1{text-align: center;margin:0 auto;font-size: 14px}
    .slider-a2{text-align: center;margin:-4px auto;font-size: 15px}
    .slider-a3{text-align: center;margin:0 auto;font-size: 11px}
    .cwhite{color:#fff}
    .cred{color:#e74c3c}
    .cgreen{color:#27ae60}
    .cgrap{color:#ccc}
    .sliderbd {margin-top:-1px;padding:5px 0;border-bottom:1px solid #444;}
    .sliderli{border-right:1px solid #444;padding-right:-1px;}
    .slidesul{height:65px}
    .header-i{color:#666;margin-top:-2px;}
    .mgn-0-10{margin:0 -10px;}
    .h20{height:20px;}
    .span-top4{position:relative;top:-2px}
    .span-f18{font-size:18px}
    .icon-red{color:#dd514c}
    _::-webkit-full-page-media, _:future, :root .tip-red{background:#dd514c;color:#fff;position:relative;top:-2px;font-size: 10px;font-weight: 400;margin-top:4px;padding:1px 2px}
    .tip-red{background:#dd514c;color:#fff;position:relative;top:-2px;font-size: 10px;font-weight: 400;margin-top:4px;padding:3px 2px 1px 2px}
    _::-webkit-full-page-media, _:future, :root .tab-icon{width:25px;position: relative;top:-6px;font-size:22px;}
    .tab-icon{width:25px;position: relative;top:-3px;font-size:22px;}
    _::-webkit-full-page-media, _:future, :root .tab-text{font-size:12px;position: relative;top:-15px;color:#eee;}
    .tab-text{font-size:12px;position: relative;top:-14px;color:#eee;}
     .mgn-top7{margin-top:-3px}
    .mgn-top2{margin-top:-2px}
    .zindexmax{z-index:99999;}
    .combox{font-size:16px;color:#fff}
    #KEY_FRESH{font-size: 1.6rem;color:#999}
    .alert-div{margin-top:0px;margin-bottom:0px;border:0 none}
    .h15{height:15px;}
    .ft-clr-1{font-size:1.3rem;color:#fff;}
    .icon-style{line-height:50px;width:50px;height:50px;background: none;border-radius:50px;}
    .clr-1{color:#e77e23;}
    .clr-2{color:#2fcc71;}
    .clr-3{color:#96a6a6;}
    .clr-4{color:#3598dc}
    .clr-5{color:#e84c3d}
    .clr-6{color:#1bbc9d}
    .clr-7{color:#df77d7}
    .clr-8{color:#8f97ff}
    .clr-9{color:#f1c40f}
    .ft24center{text-align: center;font-size: 2.4rem}
    .ft11center{text-align: center;font-size: 1.1rem;line-height: 10px;color:#fff;height:22px;}
    .bg-a{background:#393939}
    .bg-b{background:#373737}
    .f08rem{font-size:0.8rem;}
    .h23{height:23px;}
    .fc-a{color:#e74c3c;font-size:13px;}  
