.am-form input[type="text"], .am-form input[type="email"], .am-form input[type="password"] {
    color: #fff;
    background: none;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #444;
    height: 45px;
}

    .am-form input[type='text']:focus, .am-form input[type='email']:focus, .am-form input[type='password']:focus {
        color: #fff;
        background: none;
        border: none;
        box-shadow: none;
        border-bottom: 1px solid #444;
    }

.am-form textarea {
    color: #fff;
    background: none;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #444;
}

    .am-form textarea:focus {
        color: #fff;
        background: none;
        border: none;
        box-shadow: none;
        border-bottom: 1px solid #444;
    }

.am-btn-default:focus, .am-btn-default:active {
    box-shadow: none;
}

.am-form input[type='button']:focus {
    box-shadow: none;
}

.am-form input[type='button']:hover {
    box-shadow: none;
}

.selectStyle {
    background-color: #3d3d3d !important;
    color: #fff !important;
    border: none !important;
}
.am-modal-dialog{
    border: 0 none;
    background: #333;
    cursor: default;
    -webkit-box-shadow: 0 0 3px rgba(50, 50, 50, 0.64);
    -moz-box-shadow: 0 0 3px rgba(50, 50, 50, 0.64);
    box-shadow: 0 0 3px rgba(50, 50, 50, 0.64);
    border-radius: 5px;
    opacity: 0.95; 
}
.am-modal-btn{
    color:#fff;
    border-right: 1px solid #444;
    border-top: 1px solid #444;
}
.am-modal-hd{
    border-radius: 5px;
    color:#fff;
    padding: 10px;
}