.arrowLeft {
    font-size: 1.7rem !important;
    color: #999;
    position: relative;
    top: -1px;
}

.headName {
    position: relative;
    top: -6px;
    font-size: 1.6rem;
}

.headSpan {
    font-size: 1.8rem;
    border-left: 1px solid #444;
    padding-left: 15px;
    margin-left: 3px;
}

.headCode {
    font-size: 11px;
    position: relative;
    top: -36px;
    left: 60px;
    color: #777;
}
