.arrowLeft {
    font-size: 1.7rem !important;
    color: #999;
    position: relative;
    top: -1px;
}

.headName {
    position: relative;
    top: -6px;
    font-size: 1.6rem;
}

.headSpan {
    font-size: 1.8rem;
    border-left: 1px solid #444;
    padding-left: 15px;
    margin-left: 3px;
}

.headCode {
    font-size: 11px;
    position: relative;
    top: -36px;
    left: 60px;
    color: #777;
}

.am-tabs-bd {
    border: none;
}

.am-nav-tabs > li > a {
    color: #aaa;
}

.am-nav-tabs > li.am-active > a, .am-nav-tabs > li.am-active > a:focus, .am-nav-tabs > li.am-active > a:hover {
    background: none;
    border: none;
    color: #fff;
    margin-top: 1px;
    margin-left: 1px;
    font-weight: bold;
}

.am-tabs-nav > li {
    background: none;
    text-align: center;
}

    .am-tabs-nav > li > a {
        position: relative;
        top: -8px;
        left: 3px;
    }

.am-nav-tabs {
    border: none;
}

.am-list > li {
    background: none;
    border-color: #444;
}

.am-nav > li > a:focus, .am-nav > li > a:hover {
    background: none;
    border: none;
}

.am-tabs-bd .am-tab-panel {
    -webkit-transition: -webkit-transform 0.0001s;
    transition: transform 0.0001s;
}

¡¡ .zline1 {
    height: 180px;
    margin-top: -15px;
    padding: 0 10px;
    width: 100%;
}
.goucheng_ul{font-size:14px;padding-top:3px;padding-bottom:3px;margin:-10px 0 10px 0;}
.goucheng_li{height:16px;line-height:15px}
.goucheng_border{border-right:1px solid #444;}
.goucheng_padding{padding-top:3px;padding-bottom:3px;}
.zline {
    height: 180px;
    margin-top: -15px;
    padding: 0 10px;
    width: 100%;
}