/** {
    margin: 0px;
    padding: 0px;
    font-family: "Î¢ÈíÑÅºÚ";
}*/

/*#box {
    width: 80%;
    height: 600px;
    border: 2px solid red;
    position: relative;
    margin: 100px auto;
}*/

#upload {
    position: relative;
    top:-75px;
    left:0;
    z-index: 999999;
    float:right;
}

/*    #upload a {
        display: block;
        width: 200px;
        height: 50px;
        background: #3399ff;
        background-position: 50px 13px;
        border-radius: 5px;
        text-decoration: none;
        position: relative;
    }

        #upload a input {
            width: 200px;
            height: 50px;
            opacity: 0;
            position: absolute;
            left: 0px;
            top: 0px;
        }

        #upload a span {
            font-size: 20px;
            color: #fff;
            position: absolute;
            left: 94px;
            top: 10px;
        }

    #upload p {
        margin-top: 10px;
        color: #ccc;
        text-align: center;
    }
*/
#imgs {
    width: 100%;
    height: 600px;
    overflow-y: auto;
}

.imgBox {
    width: 150px;
    height: 150px;
    border: 1px solid #ccc;
    margin: 10px;
    float: left;
}

.bg {
    width: 150px;
    height: 130px;
}

.imgBox p {
    text-align: center;
}

.newUpload {
    width: 150px;
    height: 150px;
    background: #ccc;
    background-position: 50px 20px;
    border: #bbb;
    float: left;
    margin: 10px;
    text-align: center;
    line-height: 200px;
    position: relative;
}

    .newUpload #btn {
        width: 150px;
        height: 150px;
        opacity: 0;
        position: absolute;
        left: 0px;
        top: 0px;
    }

.code {
    /*background: url(../images/code_bg.jpg) !important;*/
    border:1px solid #444;
    font-family: Arial;
    font-style: italic;
    color: #e84c3d;
    font-size: 15px;
    font-weight: bolder;
    float: right;
    width: 70px;
    text-align: center;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    margin-top: -35px;
    border-radius: 3px;
}
