/* Write your styles */

.am-header-default {
    background-color: #343434;
}
.am-navbar-default .am-navbar-nav {
    background-color: #343434;
}

body {
    background:#3d3d3d;
    color:#969696;
    /*scrollbar color*/
    scrollbar-slider-color: red;   
    scrollbar-face-color: #434343;   
    scrollbar-highlight-color: #343434;   
    scrollbar-shadow-color: #343434;   
    scrollbar-3dlight-color: #343434;   
    scrollbar-arrow-color: #e2e2e2;   
    scrollbar-track-color: #343434;   
    scrollbar-darkshadow-color: #98AAB1;    
}
.am-list-news-default .am-list-date {
    color: #e2e2e2;
}
.am-navbar-nav a .am-navbar-label {
    display: block;
    font-size: 10px;
    line-height: 1;
    overflow: hidden;
    padding-top: 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}
a {
    color: #fff;
}
.am-list-news-default .am-list > li {
    border-color: #444444;
    background:#3d3d3d;
    font-size:14px;
    color:#969696;
}

.am-list-news-hd a {
    color:#dadada;
}

.am-list-news-more{
    color:#969696;
}
.am-list .am-list-item-dated a {
		color:#bcbcbc;
}
/*pos 123*/
.am-list-date-1 {
    font-size: 1.3rem;
    position: absolute;
    right: 43px;
    top: 1.1rem;
    border-radius:4px;
}
.am-list-date-2 {
    font-size: 1.3rem;
    position: absolute;
    right: 4px;
    top: 1.1rem;
    border-radius:4px;
}
.am-list-date-3 {
    font-size: 1.3rem;
    position: absolute;
    right: 82px;
    top: 1.1rem;
    border-radius:4px;
}


/*pos 1234*/
.am-list-date-4 {
    font-size: 1.3rem;
    position: absolute;
    right: 174px;
    top: 1.1rem;
    border-radius:4px;
}
.am-list-date-5 {
    font-size: 1.3rem;
    position: absolute;
    right: 135px;
    top: 1.1rem;
    border-radius:4px;
}
.am-list-date-6 {
    font-size: 1.3rem;
    position: absolute;
    right: 70px;
    top: 1.1rem;
    border-radius:4px;
}
.am-list-date-7 {
    font-size: 1.3rem;
    position: absolute;
    right: 5px;
    top: 1.1rem;
    border-radius:4px;
}
/*color*/
.bg-green{
		background:#27ae60;
		padding:0 4px ;
		color:#e2e2e2;
}
.bg-red{
		background:#e74c3c;
		padding:0 4px ;
		color:#FFF;
}
.bg-orange{
		background:#e67e22;
		padding:0 4px ;
		color:#e2e2e2;
}
.bg-grap{
        background:#444444;
        padding:0 4px ;
        color:#e2e2e2;
}
.am-navbar-default a {
    color: #969696;
}
.am-navbar-default .active {
    color: #fff;
}
.am-navbar-default .active a {
    color: #fff;
}
.am-text-center {
    line-height: 15px;
}
small {
    font-size: 70%;
}
.nobold{
    font-weight: 600;
    font-size: 1.1rem;
    color:#969696;
}
.color-red{
    color:#e74c3c;
}
.color-green{
    color:#27ae60;
}

.color-grap{
	color:#a2a2a2;
}
.content{
	width:98%;
	margin:0 auto;
	padding:20px 0 0 0;
}
.content-top{
	margin:10px 0 0 0;
}
.plat_1{
	height:245px;
	background:#343434;
}
.plat_2{
	height:192px;
	background:#343434;
}
.plat_3{
	height:192px;
	background:#343434;
}
.plat_4{
	height:192px;
	background:#343434;
}
[class*="am-u-"] {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.am-nav-tabs > li > a {
    border: 1px solid transparent;
    border-radius: 0;
    line-height: 1.6;
    margin-right: 5px;
    font-size:12px;
    color:#777;
}
.am-nav > li > a {
    border-radius: 0;
    padding: 0.4em 1em;
}
.am-nav > li, .am-nav > li > a {
    display: block;
    position: relative;
}
.am-tabs{
	padding:10px;
}
.content .am-tabs-bd {
    border-color: -moz-use-text-color #3d3d3d #3d3d3d;
    border-color: #3d3d3d;
}
.am-nav-tabs > li.am-active > a, .am-nav-tabs > li.am-active > a:focus, .am-nav-tabs > li.am-active > a:hover {
    background-color:#343434;
    border-color: #3d3d3d #3d3d3d transparent;
    color: #e2e2e2;
    font-weight:800;
}
.am-nav-tabs {
    border-bottom: 1px solid #3d3d3d;
}
.am-nav-tabs > li > a:hover{
    background-color:#343434;
    color:#e2e2e2;
    font-weight:800;
    border-color: #3d3d3d #3d3d3d transparent;
}

.am-nav > li > a:foucs, .am-nav > li > a:hover{
	background-color:#343434;
	text-decoration: none;
	color:#a2a2a2;
}
.platname{
	color:#fff;
	font-size:14px;
	font-weight:800;
	line-height:10px
}
.platname .am-list > li {
    background-color: #343434;
    border-color: #343434;
    position: relative;
}

.platname .am-list .am-list-item-dated a {
    color: #fff;
}

.platname .am-g {
    margin-left: 1rem;
    margin-right: 1rem;
}
.platname .am-list, .am-topbar {
    height:10px;
}
.platname .am-list .am-list-item-dated a {
    padding-right: 15px;
    padding-left: 0px;
    width:5px;
}
.platname .am-list > li .topmod{
	padding:10px 0 0 5px;
}

.alert-red{
		background:#e74c3c;
		color:#FFF;
}
.am-tabs-bd .am-tab-panel {
    padding: 2px 2px 3px;
}

.pagelist .am-list {
	padding-bottom:0px;
	margin-bottom: 0px;
}

.pagelist .am-list-news {
	margin:0px;
	padding:0px;	
}

.am-list-news-default .am-list .fristlist > li {
    background: #444444 none repeat scroll 0 0;
    border-color: #444444;
    color: #969696;
    font-size: 12px;
    line-height: 20px;
}

.pagelist .am-list .fristlist .am-list-item-dated a {
    height: 25px;
    line-height: 25px;
    padding-left: 10px;
    padding-right: 80px;
}

.pagelist .am-list-news-default .am-list > li {
    font-size: 12px;
}
.pagelist .am-g .am-list-item-dated{
	height:10px;
}
.pagelist .am-list .am-list-item-dated a {
    padding-right: 80px;
    padding-left:10px;
    height:25px;
    line-height:5px;
}

.pagelist .am-list-date-1 {
    font-size: 1.2rem;
    position: absolute;
    right: 43px;
    top: 0.3rem;
    border-radius:4px;
}
.pagelist .am-list-date-2 {
    font-size: 1.2rem;
    position: absolute;
    right: 4px;
    top: 0.3rem;
    border-radius:4px;
}
.pagelist .am-list-date-3 {
    font-size: 1.2rem;
    position: absolute;
    right: 82px;
    top: 0.3rem;
    border-radius:4px;
}
/*pos 1234*/
.pagelist .am-list-date-4 {
    font-size: 1.2rem;
    position: absolute;
    right: 174px;
    top: 0.3rem;
    border-radius:4px;
}
.pagelist .am-list-date-5 {
    font-size: 1.2rem;
    position: absolute;
    right: 135px;
    top: 0.3rem;
    border-radius:4px;
}
.pagelist .am-list-date-6 {
    font-size: 1.2rem;
    position: absolute;
    right: 70px;
    top: 0.3rem;
    border-radius:4px;
}
.pagelist .am-list-date-7 {
    font-size: 1.2rem;
    position: absolute;
    right: 5px;
    top: 0.3rem;
    border-radius:4px;
}
.pagelist .end{
    top: 0.4rem;
    right: 40px;
    font-weight: 800;
    color:#bcbcbc;
}
.leftmod-1{
	padding-right: 25px;
}
.leftmod-2{
	padding-right: 50px;
}
.am-icon-cog, .am-icon-refresh, .am-icon-expand{
	font-size: 14px;
}
.list_1{
	float: left; width:120px;
}
.list_2{
	float: left; 
	padding-left:10px;
	width:150px;
}
.list_3{
	float: left; 
	padding-left:10px;
	width:150px
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: inherit;
    font-family: inherit;
    font-weight: 500;
    line-height: 2.3;
}
.table-responsive {
    min-height: 0.01%;
    overflow-x: auto;
    font-size:12px;
    height:163px;
    
}
.table {
    margin-bottom: 0px;
    max-width: 100%;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    border-top: 1px solid #343434 ;
    line-height: 1.42857;
    padding: 2px 10px;
    vertical-align: top;
}
.table-bordered {
    border: 1px solid #343434;
}
.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border: none;
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #434343;
}
.table-striped > tbody > tr:nth-of-type(2n) {
    background-color: #none;
}
.table-striped > tbody > tr{
    color:#e2e2e2;
}
.am-tabs-bd::-webkit-scrollbar {    
 width: 8px;    
}    
.am-tabs-bd::-webkit-scrollbar-track {    
 background-color:#343434;    
 -webkit-border-radius: 2em;    
 -moz-border-radius: 2em;    
 border-radius:2em;    
}    
.am-tabs-bd::-webkit-scrollbar-thumb {    
 background-color:#666666;    
 -webkit-border-radius: 2em;    
 -moz-border-radius: 2em;    
 border-radius:2em;    
}
.am-badge {
    font-weight: normal;
    padding: 0.25em 0.45em;
}
#main{
    font-size:12px;
}
.pages_sel_height{
    height:140px;
    margin-left:5px
}

.pages_sel_heigh_zjqx{
    height:180px;
    margin-left:20px;
    margin-top:-30px;
    width:350px;
    overflow: hidden;
}

.clr_black{
    
    background-color: #666;
}
.kline{
    margin-top: 15px;
    width: 250px;
    height:140px;
    /*border: 1px solid #434343;*/
}
.macd{
    width: 250px;
    height:140px;
    /*border: 1px solid #434343;*/
}
.kdj{
    width: 250px;
    height:40px;
    /*border: 1px solid #434343;*/
}
.zjqx{
    width: 350px;
    height:200px;
    /*border: 1px solid #434343;*/
}
a, a:hover, a:focus{
    text-decoration: none;
}
